@media(MIN-WIDTH : 1025PX){
	
	:root{
		--pri_color : #1a3e4e;
		--sec_color :#eee9e2;
		--accent_color : #592917;
	}
	
	
/******START*******/

*{
    margin : 0;
	padding : 0;
}

body{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	/* background-color : #f1edda7F; */
	background-color : #eee9e2;
}


.char_animated{
    animation: an 1s ease-out 1 forwards;
    /* animation-fill-mode : forward;	 */
}


@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}


/*************************FIRST SECTION*************************/

.first_section{
	min-height :100dvh;
	min-height :100vh;
    width : 100%;
    background-size : cover;
    background-position : center;
	
}


.first_section_content{
	color : #ffffff;
}

.about_page_first_image{
	background : url("../IMAGES/pexels-alena-koval-233944-886521.webp");
	background-size : cover;
	min-height : 100dvh;
	min-height : 100vh;
	width : 100%;
}


.about_text{
	font-weight : 600;
	font-size : 2.5rem;
	padding-top : 200px;
	padding-left : 550px;
	color : var(--accent_color);
	text-align  : right;
	padding-right : 15px;
    display : block;
	
}


/*************************STORY SECTION*************************/

.story_section{
    width : 100%;
    background-color : var(--pri_color);
    min-height : 100dvh;
    min-height : 100vh;
}

.story_section_content{
	width : 94%;
	margin-left : auto;
	margin-right : auto;
	padding : 6rem 0 4rem 0;
	
}


.story_section_flex{
	display : flex;
	flex-direction : row;
}


.story_section_flex_right{
    display : inline;
}

.story_section_flex_left{
	width : 80%;
	/* background  : #11253d; */
	background  : var(--sec_color);
	height : 450px;
	margin-top : 50px;
	border-top-left-radius : 25px;
	border-bottom-left-radius : 25px;
	border-bottom-right-radius : 0;	
	color : var(--pri_color);
	padding : 15px 250px 15px 15px;
	order : 0;
    text-align : justify;
    font-size : 0.95rem;
}

.niconne-regular {
	font-family: "Niconne", cursive;
	font-weight: 400;
	font-style: normal;
    font-size : 1.5rem;
    line-height : 1.75rem;
    text-align : left;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow{
	position: relative;
	z-index: 0;
	width: 450px;
	height: 550px;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
   clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	margin-left : -250px;
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color : #feb43e;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: repeating-linear-gradient(45deg,#ff6700 35%,#1c39bb 65%);
		animation: rotate 4s linear infinite;
   clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 10px;
		top: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		background-image : url('../IMAGES/Gemini_Generated_Image_69r8kq69r8kq69r8.webp');
		border-radius: 5px;
		background-size : cover;
		/* animation: opacityChange 3s infinite alternate; */
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	}
}

@keyframes opacityChange {
	50% {
		opacity:1;
	}
	100% {
		opacity: .5;
	}
}


/******************************SECOND SECTION******************************/

.second_section{
	width : 100%;
	background-color : var(--pri_color);
	min-height : auto;
	padding : 4rem 0 4rem 0;
}



    .second_section_header{
    	display : flex;
    	justify-content : center;
    	align-items : center;
		padding : 0 0 50px 0;
    }
    
    .protest-revolution-regular {
      font-family: "Protest Revolution", serif;
      font-weight: 800;
      font-size: 2em;
      font-style: normal;
    }
    
    
    .journey_header{
    
      text-align: center;
      color: var(--sec_color);
      font-weight: 800;	
    }

   .fa-shoe-prints{
	   color : var(--sec_color);
   }

.date_header_flex{
	
	display : flex;
	flex-direction : row;
	row-gap : 0;
	column-gap : 5px;
   width : 60%;
   margin-left : 0;
   margin-right : 0;
   margin-top : 0;
}


.date_header {
  width: 50px;
  height: 50px;

  background-image: url("../IMAGES/unnamed (1).webp");
  background-size: cover;
  background-position: center;
  border-radius : 50%;
  color : #ffffff;
  display : flex;
  justify-content : center;
  align-items : center;
  font-weight : 700;
  font-size : 2.5rem;

}



.second_flex{
	width : 100%;
	display : flex;
	flex-direction : row;
	row-gap : 0;
	column-gap : 0;
	height : 400px;
	margin : 0 0 0 0;
}

.second_flex_image{
	/* background : var(--sec_color); */
	background : linear-gradient(to bottom, var(--sec_color) 70%, var(--pri_color));
	border-top-right-radius : 50px;
	border-top-left-radius : 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
	display : flex;
	align-items: center;
	justify-content : center;
	width : 40%;
    height : 400px;
}


.second_flex_text{
	/* background : var(--sec_color); */
	background : linear-gradient(to bottom, var(--sec_color) 70%, var(--pri_color));	
	border-top-right-radius : 0;
	border-top-left-radius : 50px;
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
	display : flex;
	align-items: center;
	justify-content : center;
	width : 60%;
	color : var(--pri_color);
	padding : 0 6rem 0 6rem;
    height : 400px;
}



.fourth_flex{
	width : 100%;
	display : flex;
	flex-direction : row;
	row-gap : 0;
	column-gap : 0;
	height : 500px;
	margin : 0 0 -50px 0;

}




.fourth_flex_image{
	/* background : var(--sec_color); */
	background : linear-gradient(to bottom, var(--sec_color) 70%, var(--pri_color));	
    border-top-right-radius : 50px;
	border-top-left-radius : 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
	display : flex;
	align-items: center;
	justify-content : center;
	width : 40%;
    height : 500px;
}


.fourth_flex_text{
	/* background : var(--sec_color); */
	background : linear-gradient(to bottom, var(--sec_color) 70%, var(--pri_color));	
	border-top-right-radius : 0;
	border-top-left-radius : 50px;
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
	display : flex;
	align-items: center;
	justify-content : center;
	width : 60%;
	color : var(--pri_color);
	padding : 0 6rem 0 6rem;
    height : 500px;
}



.sixth_flex{
	width : 100%;
	display : flex;
	flex-direction : row;
	row-gap : 0;
	column-gap : 0;
	height : 450px;
	margin : 0 0 -20px 0;
}

.sixth_flex_image{
	/* background : var(--sec_color); */
	background : linear-gradient(to bottom, var(--sec_color) 70%, var(--pri_color));
	border-top-right-radius : 50px;
	border-top-left-radius : 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
	display : flex;
	align-items: center;
	justify-content : center;
	width : 40%;
    height : 450px;
}



.sixth_flex_text{
	/* background : var(--sec_color); */
	background : linear-gradient(to bottom, var(--sec_color) 70%, var(--pri_color));	
	border-top-right-radius : 0;
	border-top-left-radius : 50px;
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
	display : flex;
	align-items: center;
	justify-content : center;
	width : 60%;
	color : var(--pri_color);
	padding : 0 4rem 0 4rem;
    height : 450px;
}


.second_section h3{
    font-weight : 600;
    font-size : 2rem;
    padding : 10px 0 10px 0;	
}



.about_image{
	width : 375px;
	height : 250px;
}



.africa_image{
	width : 400px;
	height : 400px;
}

/******************************SECOND SECTION ANIMATION******************************/


@keyframes about_image_animation{
	from{
		transform : Scale(0);
	}
	to{
		transform : Scale(1);
	}
	
}

.animate_about_image{
	animation : about_image_animation 3s linear forwards;
	
}


@keyframes section_heading_animation{
	from{
		transform : ScaleY(0);
	}
	to{
		
		transform : ScaleY(1);
	}
	
}

.animate_section_heading{
	animation : section_heading_animation 2s linear forwards;
}


/******************************THIRD SECTION******************************/
.mobile_third_section{
	display : none;
	width : 100%;
   	background-image :url("../IMAGES/pexels-megapixel-14815812.webp");
   	background-size : cover;
   	height : 1000px;
    padding-top : 50px;		
}
.third_section{
	display : block;
	width : 100%;
	background-image :url("../IMAGES/pexels-megapixel-14815812.webp");
	background-size : cover;
	height : 800px;
	position : relative;
    background-attachment : fixed;	
}

.third_section_content{
	width : 100%;
	height : 800px;
    background : #010b13D8;
	padding-top : 150px;
}

.venn_container{
}


.mission_class{
	width : 400px;
	height : 400px;
	border-radius : 100%;
	border : solid #ffffff 3px;
	color : #ffffff;
	position : absolute;
	left : 200px;
}



.vision_class{
	width : 400px;
	height : 400px;
	border-radius : 100%;
	border : solid #ffffff 3px;
	color : #ffffff;
	position : absolute;
	left : 500px;
}

.value_class{
	width : 400px;
	height : 400px;
	border-radius : 100%;
	border : solid #ffffff 3px;
	color : #ffffff;
	position : absolute;
	top : 350px;
	left : 350px;
}

.mission_class_content{
	margin-top : 50px;
	margin-left : 50px;
	width : 250px;
	font-size : 1.18rem;
	font-weight : 600;
}

.mission_header,.vision_header{
	text-align : center;
	text-decoration : underline;
}


.vision_class_content{
	margin-top : 50px;
	margin-left : 100px;
	width : 250px;
	font-size : 1.18rem;
	font-weight : 600;
	text-align : right;
}


.value_class_content{
	margin-top : 200px;
	margin-left : 125px;
	width : 250px;
	font-size : 1.18rem;
	font-weight : 600;
	text-align : left;
}
.value_header{
	text-decoration : underline;
}


.purpose_icon{
    position : absolute;
	left : 515px;
	top : 275px;
	color : #ffffff;
	font-weight : 700;
	font-size : 4.5rem;
}
.ideal_icon{
    position : absolute;
	left : 600px;
	top : 425px;
	color : #ffffff;
	font-weight : 700;
	font-size : 4.5rem;
}

#net_image{
    position : absolute;
	left : 520px;
	top : 375px;
    width : 60px;
}

.principle_image{
    position : absolute;
	left : 400px;
	top : 425px;
	z-index : 0;	
	width : 80px;
}


/******************************MOBILE THIRD SECTION******************************/
.mobile_third_section{
	display : none;
}


/******************************MESSAGE SECTION******************************/

.message_section{
	background-color : #f1edda7F;
	/* background-color : var(--sec_color); */
	width : 100%;
	min-height : auto;
	padding : 4rem 0 4rem 0;
}
.message_section_content{
    width : 90%;
    margin-left : auto;
    margin-right : auto; 	
	font-size :1.05rem;
	
	
}

.message_section_heading_flex{
	display : flex;
	flex-direction : row;
	row-gap : 0;
	column-gap : 0;
	width : 50%;
	margin-left : auto;
	margin-right : auto;
	justify-content : center;
	align-items : center;
}

.message_section_heading{
	padding : 50px 0 50px 0;
	font-size : 2rem;
	text-align : center;
	font-weight : 600;
	color : var(--accent_color);
}



.ceo_image_container{
    display : flex;
    flex-direction : row;
    row-gap : 0;
    column-gap : 30px;
}

.message_section_alpha_text{
	width : 70%;
}


.ceo_image_border{
	width :  30%;
	height : 450px;
	border : dashed 1px #592917;
	padding : 5px;
	display : inline;	
}

.ceo_image{
	width :  100%;
	height : 100%;
	border : solid 7px #59291799;
}


/******************************MOBILE MESSAGE SECTION******************************/

.mobile_ceo_image{
	width : 125px;
	height : 125px;
    border : solid 2px #59291799;
    border-radius : 50%;
    display : none;
    margin-left : auto;	
    margin-right : auto;
    /* margin-top : -50px;	 */
}

/******************************FIFTH SECTION******************************/
.fifth_section{
	width : 100%;
    background: linear-gradient(211deg, #039BAB 5.98%, #0D7590 37.75%, #014C7C 70.36%);
	min-height : auto;
	padding : 4rem 0 4rem 0;
}


.fifth_section_content{


}

.faq_header{
	color :  #ffffff;
	font-weight : 700;
	text-align : center;
	padding-bottom : 50px;
	font-size : 2.5rem;	
}


.faq_container{
	width : 70%;
	margin-left : auto;
	margin-right : auto;
}

.card{
	width : 100%;
	background : none;
	border : solid 3px #ffffff;
    color : #ffffff;
	margin : 15px 0 15px 0;
	
}


.card-header{
	cursor : pointer;
	display : flex;
	align-items : center;
	justify-content : space-between;
}
.card-header h1{
	font-size : 1.25rem;
	font-weight : 600;
	
}

/******END******/
}
