	 
	      <footer>
	             <div class = "footer_content">
				     <div class = "footer_flex">
					     <div class = "footer_left_flex">
						     <img src = "IMAGES/ecoshift_logo.png" class = "footer_img img-fluid">
						 </div>
						 <div class = "footer_center_flex">
						     
							 <ul>
							    <li><a href = "about" class = "press_release"> ABOUT </a> </li>
							    <li><a href = "#" class = "press_release"> SOLUTIONS </a> </li>
							    <li><a href = "#" class = "press_release"> PROJECTS </a> </li>
							    <li><a href = "#" class = "press_release"> PARTNERS </a> </li>
							    <li><a href = "#" class = "press_release"> PRESS RELEASE </a> </li>
							    <li><a href = "#" class = "gallery"> GALLERY </a> </li>
							    <li><a href = "#" class = "gallery"> EVENTS </a> </li>
							    <li><a href = "#" class = "gallery"> FAQ </a> </li>
								<li class = "phone"><i class="fas fa-phone"></i> +44 (0)744345590  </li>
								<li><a href = "mailto:info@ecogreeninvestments.com" class = "email"><i class="fas fa-envelope"></i>info@ecoshiftcapital.com </li></a>
							 </ul>
						 </div>
						 <div class = "footer_right_flex">
							 <h3> HEADQUARTERS </h3>
							 <p><i class="icofont-google-map"></i> East Sussex, United Kingdom </p>
							 <h3> REGIONAL HEADQUARTERS </h3>
							 <p><i class="icofont-google-map"></i> Asokoro, FCT, Abuja </p>
                             <h3> Operating Hours </h3>
                             <p><i class="far fa-clock"></i>  9.30 AM - 6.30 PM </p>
							 <div class = "dropdown languages_dropdown">
                                 <a style = "cursor:pointer; text-decoration : none;" data-toggle = "dropdown"><h3 class = "dropdown-toggle"><i class="fas fa-globe"></i>  Language Editions </h3></a>
								 <div class = "dropdown-menu">
								     <a class = "dropdown-item"> English </a>
									 <a class = "dropdown-item"> Portuguese </a>
									 <a class = "dropdown-item"> French </a>
									 <a class = "dropdown-item"> Swahili </a>
								 </div>
							 </div>
                             							 
							 
						 </div>
					 </div>
					 <div class = "footer_icons">
					     <div class = "facebook_icon"><a href = "#"> <i class="fab fa-facebook"></i> </a></div>
                         <div class = "twitter_icon"><a href = "#"> <i class="fab fa-twitter"></i> </a></div>
 						 <div class = "linkedin_icon"><a href = "#"> <i class="fab fa-linkedin"></i></a></div>
						 <div class = "instagram_icon"><a href = "#"> <i class="fab fa-instagram-square"></i></a></div>
						 <div class = "youtube_icon"><a href = "https://www.youtube.com/@wef"> <i class="fab fa-youtube"></i></a></div>
					 </div>					 
					 <div class = "egi_slogan">
					     <h1 class = "charm-bold"> ESC...Building Prosperity and Growth through Economic Develpoment </h1>
					 </div>
				 </div>
          <div class = "post_footer">
              <center> <p> Copyright © 2025 Fortune Felix for EcoShift Capital LTD. All Rights Reserved.  </p> </center>
          </div>		  
	      </footer>

	 <!-- </body> -->
<!---</html>---->	 
	 