
		  <section class = "left_menu_section">
		      			  
			  <div class = "menu_list">			  
				 <!-----ABOUT----->
			     <div class = "menu_item dropdown" id = "about_left_item">
				     <img src = "IMAGES/pexels-adrian-mohammad-487852-12241582.webp" class = "img-fluid menu_image">
                    <a class = "menu_link dropdown-toggle" data-toggle = "dropdown"> ABOUT   </a>
					
					<div class = "dropdown-menu" id = "about_left_menu">
                        <a class = "dropdown-item" href = "about.php"> Company Overview </a>
						
					    <a class = "dropdown-item" id = "team_object"> EGI Team </a>
                          <!---TEAM MENU---->
						  <ul id = "team_dropdown">
						     <li> <a class = "team_dropdown_item"> Senior Management </a> </li>
						     <li> <a class = "team_dropdown_item"> Board Members </a> </li>
						  </ul>											
						
						
					</div>
					
                 </div>

				 
			     <!-----SOLUTIONS----->
			     <div class = "menu_item dropdown" id = "solutions_left_item">
				     <img src = "IMAGES/phlair-3lyx_HdvbBA-unsplash4.webp" class = "img-fluid menu_image">
                    <a class = "menu_link dropdown-toggle" data-toggle = "dropdown"> SOLUTIONS </a>
					<div class = "dropdown-menu" id = "solutions_left_menu">
					    <a class = "dropdown-item" href = "carbon.php"> Carbon Sequestration </a>
						<a class = "dropdown-item" href = ""> Mechanized Farming </a>
						<a class = "dropdown-item" href = ""> Agro-processing </a>
						<a class = "dropdown-item" href = ""> Waste To Energy </a>
						<a class = "dropdown-item" href = ""> Mass Housing </a>
						<a class = "dropdown-item" href = ""> Ecotourism </a>
					</div>
                 </div>
				 
				 
				 <!-----PROJECTS----->
			     <div class = "menu_item dropright" id = "projects_left_item">
				     <img src = "IMAGES/earth-35374014.webp" class = "img-fluid menu_image">
                     <a class = "menu_link dropdown-toggle" data-toggle = "dropdown"> PROJECTS </a>
					<div class = "dropdown-menu" id = "projects_left_menu">
					    <a class = "dropdown-item" href = "#" target = "_blank"> Angola </a>
					    <a class = "dropdown-item"> Tanzania </a>
					    <a class = "dropdown-item" id = "liberia_object"> Liberia </a>

						   <ul id = "liberia_dropdown">
						      <li class = "liberia_dropdown_item"> Government </li>
							  <li class = "liberia_dropdown_item"> Private </li>
						   </ul>						
						
						
					    <a class = "dropdown-item" href = ""> Sierra Leone </a>
					    <a class = "dropdown-item" id = "nigeria_object"> Nigeria </a>
						
						   <ul id = "nigeria_dropdown">
						      <li class = "nigeria_dropdown_item"> Taraba </li>
							  <li class = "nigeria_dropdown_item"> Crossriver </li>
							  <li class = "nigeria_dropdown_item"> Delta </li>
						   </ul>
						
						
					    <a class = "dropdown-item" href = ""> Republic Of Congo </a>
					    <a class = "dropdown-item" href = "meic2"> Zambia </a>
					    <a class = "dropdown-item" href = ""> Guinea </a>
					    <a class = "dropdown-item" href = ""> Cameroun </a>
					    <a class = "dropdown-item" href = ""> Gabon </a>
					    <a class = "dropdown-item" href = ""> Equitorial Guinea </a>
						
					</div>
                 </div>

				 <!------PORTFOLIO----->

                 <div class = "menu_item dropdown" id = "portfolio_left_item">
				     <img src = "IMAGES/ady-teenagerinro-kwIbdzJa_yA-unsplash2.webp" class = "img-fluid menu_image">
				    <a class = "menu_link dropdown-toggle" data-toggle = "dropdown"> PORTFOLIO COMPANIES </a>
                    <div class = "dropdown-menu" id = "portfolio_left_menu">
                        <a class = "dropdown-item"> EGI Energy </a>
                        <a class = "dropdown-item"> EGI Health </a>
                        <a class = "dropdown-item"> EGI Consultancy </a>
                        <a class = "dropdown-item"> EGI Advisory </a>
                    </div>
				 </div>



                 <!-----PARTNERS----->
			     <div class = "menu_item dropdown" id = "partners_left_item">
                     <img src = "IMAGES/pexels-mikhail-nilov-8730179.webp" class = "img-fluid menu_image">
                     <a class = "menu_link dropdown-toggle" data-toggle = "dropdown"> PARTNERS  </a>
					<div class = "dropdown-menu" id = "partners_left_menu">
					    
						<a class = "dropdown-item" id = "carbon_object"> Carbon Sequestration </a>
		                   <ul id = "carbon_dropdown">
						      <li class = "carbon_dropdown_item"> Granite Capital Advisors Ltd </li>
							  <li class = "carbon_dropdown_item"> BISEN </li>
							  
						   </ul>
                        
					    <a class = "dropdown-item" id = "agriculture_object"> Agriculture </a>
		                   <ul id = "agriculture_dropdown">
						      <li class = "agriculture_dropdown_item"> UYFF </li>
						   </ul>						
						
						
					    <a class = "dropdown-item"> Agro-processing </a>
					    <a class = "dropdown-item" id = "security_object"> Security </a>
		                   <ul id = "security_dropdown">
						      <li class = "security_dropdown_item"><a href = "http://foxfirecs.com/"> FOXFIRE </a></li>
						   </ul>                               						
						
						
						
						
						<a class = "dropdown-item"> Construction </a>
						<a class = "dropdown-item"> Health </a>
		                   <!-- <ul class = "health_menu"> -->
						      <!-- <li class = "health_list"><a href = "https://www.profohmed.org/"> PROFOH </a></li> -->
						   <!-- </ul>						 -->
						
						
					</div>				 
                 </div>


                 <!-------MEDIA ------->				 
			     <div class = "menu_item" id = "media_left_item">
                     <img src = "IMAGES/poster-2899096.webp" class = "img-fluid menu_image">
                    <a class = "menu_link dropdown-toggle" data-toggle = "dropdown"href = ""> MEDIA </i></a>
					<div class = "dropdown-menu" id = "media_left_menu">
					   <a class = "dropdown-item" id = "press_object"> Press Release </a>
		                   <ul id = "press_dropdown">
						      <li class = "press_dropdown_list"> Internal </li>
						      <li class = "press_dropdown_list"><a href = "external.php"> External </a></li>
						   </ul>						
						
						
					    <a class = "dropdown-item" id = "climate_object"> Climate Change </a>
						
		                   <ul id = "climate_dropdown">
						      <li class = "climate_dropdown_list"> Events </li>
						      <li class = "climate_dropdown_list"> Conferences </li>
						      <li class = "climate_dropdown_list"> Publications </li>
						   </ul>						
						
                        <a class = "dropdown-item"> Gallery </a>
					</div>
                 </div>

               <!-----CONTACT----->             
			 
                     
		         <div class = "menu_item"><img src = "IMAGES/telephone-612061_640.webp" class = "img-fluid menu_image"><a class = "menu_link" href = "info@ecoshiftcapital.com"> CONTACT </a></div>	
			   
               <!-----SEARCH----->             
				 
				 
				 
		  
			  </div>		  
		  </section>
		  
	      <!-- <script src = "left_menu_script.js"> </script> -->
     <!-- </body> -->
<!-- </html> -->