	      <nav class  = "nav_menu">
		      <a class = "nav_brand" href = "index">
			      <img src = "IMAGES/eco_shift_logo_colored.webp" class = "logo img_fluid"> 
			  </a>
			  
			  <div class = "nav_list">			  
				 <!-----ABOUT----->
			     <div class = "nav_item" id = "about_item">
                    <a class = "nav_link" href = "about"> ABOUT <i class="fas fa-angle-down"></i> </a>
					
                 </div>

				 
			     <!-----SOLUTIONS----->
			     <div class = "nav_item" id = "solutions_item">
                    <a class = "nav_link"> SOLUTIONS <i class="fas fa-angle-down"></i> </a>
					<ul class = "dropdown_menu" id = "solutions_menu">
					    <li class = "list_item"><a class = "dropdown_item" href = "#"> Carbon Sequestration </a></li>
						<li class = "list_item"><a class = "dropdown_item" href = "#"> Mechanized Farming </a></li>
						<li class = "list_item"><a class = "dropdown_item" href = "#"> Agro-processing </a></li>
						<li class = "list_item"><a class = "dropdown_item" href = "#"> Waste To Energy </a></li>
						<li class = "list_item"><a class = "dropdown_item" href = "#"> Mass Housing </a></li>
						<li class = "list_item"><a class = "dropdown_item" href = "#"> Ecotourism </a></li>
					</ul>
                 </div>
				 
				 <!-----PROJECTS----->
			     <div class = "nav_item" id = "projects_item">
                    <a class = "nav_link" href = ""> PROJECTS <i class="fas fa-angle-down"></i></a>
					<ul class = "dropdown_menu" id = "projects_menu">
					    <li class = "country_item"><a class = "dropdown_item" href = "#" target = "_blank"> Angola </a></li>
					    <li class = "country_item"><a class = "dropdown_item"> Tanzania </a></li>
					    <li class = "country_item liberia_item"><a class = "dropdown_item"> Liberia </a>
						   <ul class = "liberia_menu">
						      <li class = "liberia_list"><a href = "#" class = "last_level_link"> Government </a></li>
							  <li class = "liberia_list"><a href = "#" class = "last_level_link"> Private </a></li>
						   </ul>						
						
						</li>
					    <li class = "country_item"><a class = "dropdown_item"> Sierra Leone </a></li>
					    <li class = "country_item nigeria_item"><a class = "dropdown_item"> Nigeria </a>
						   <ul class = "nigeria_menu">
						      <li class = "nigeria_list"><a href = "#" class = "last_level_link"> Taraba </a></li>
							  <li class = "nigeria_list"><a href = "#" class = "last_level_link"> Crossriver </a></li>
							  <li class = "nigeria_list"><a href = "#" class = "last_level_link"> Delta </a></li>
						   </ul>
						</li>
						
					    <li class = "country_item"><a class = "dropdown_item"> Republic Of Congo </a></li>
					    <li class = "country_item"><a class = "dropdown_item"> Zambia </a></li>
					    <li class = "country_item"><a class = "dropdown_item"> Guinea </a></li>
					    <li class = "country_item"><a class = "dropdown_item"> Cameroun </a></li>
					    <li class = "country_item"><a class = "dropdown_item"> Gabon </a></li>
					    <li class = "country_item"><a class = "dropdown_item"> Equitorial Guinea </a></li>
						
					</ul>
                 </div>

				 <!------PORTFOLIO----->

                 <div class = "nav_item" id = "portfolio_item">
				    <a class = "nav_link"> PORTFOLIO COMPANIES <i class="fas fa-angle-down"></i></a>
                    <ul class = "dropdown_menu" id = "portfolio_menu">
                        <li class = "list_item"><a class = "dropdown_item"> EGI Energy </a></li>
                        <li class = "list_item"><a class = "dropdown_item"> EGI Health </a></li>
                        <li class = "list_item"><a class = "dropdown_item"> EGI Consultancy </a></li>
                        <li class = "list_item"><a class = "dropdown_item"> EGI Advisory </a></li>
                    </ul>					
				 </div>

                 <!-----PARTNERS----->
			     <div class = "nav_item" id = "partners_item">
                    <a class = "nav_link"> PARTNERS  <i class="fas fa-angle-down"></i></a>
					<ul class = "dropdown_menu" id = "partners_menu">
					    <li class = "list_item carbon_item"><a class = "dropdown_item"> Carbon Sequestration </a>
		                   <ul class = "carbon_menu">
						      <li class = "carbon_list"><a href = "#" class = "last_level_link"> Granite Capital Advisors Ltd </a></li>
							  <li class = "carbon_list"><a href = "#" class = "last_level_link"> BISEN </a></li>
							  
						   </ul>
                        </li>
					    <li class = "list_item agriculture_item"><a class = "dropdown_item"> Agriculture </a>
		                   <ul class = "agriculture_menu">
						      <li class = "agriculture_list"><a href = "#" class = "last_level_link"> UYFF </a></li>
						   </ul>						
						
						</li>
					    <li class = "list_item"><a class = "dropdown_item"> Agro-processing </a></li>
					    <li class = "list_item security_item"><a class = "dropdown_item"> Security </a>
		                   <ul class = "security_menu">
						      <li class = "security_list"><a href = "http://foxfirecs.com/" class = "last_level_link"> FOXFIRE </a></li>
						   </ul>                               						
						
						
						
						</li>
						<li class = "list_item"><a class = "dropdown_item"> Construction </a></li>
						<li class = "list_item health_item"><a class = "dropdown_item"> Health </a>
		                   <ul class = "health_menu">
						      <li class = "health_list"><a href = "https://www.profohmed.org/" class = "last_level_link"> PROFOH </a></li>
						   </ul>						
						
						</li>
					</ul>				 
                 </div>


                 <!-------MEDIA ------->				 
			     <div class = "nav_item" id = "media_item">
                    <a class = "nav_link" href = ""> MEDIA  <i class="fas fa-angle-down"></i></a>
					<ul class = "dropdown_menu" id = "media_menu">
					    <li class = "list_item press_item"><a class = "dropdown_item"> Press Release </a>
		                   <ul class = "press_menu">
						      <li class = "press_list"><a href = "#" class = "last_level_link"> Internal </li></li>
						      <li class = "press_list"><a href = "external.php" class = "last_level_link"> External </a></li>
						   </ul>						
						
						</li>
					    <li class = "list_item climate_item"><a class = "dropdown_item"> Climate Change </a>
		                   <ul class = "climate_menu">
						      <li class = "climate_list"><a href = "#" class = "last_level_link"> Events </a></li>
						      <li class = "climate_list"><a href = "#" class = "last_level_link"> Conferences </a></li>
						      <li class = "climate_list"><a href = "#" class = "last_level_link"> Publications </a></li>
						   </ul>						
						</li>
					    <li class = "list_item"><a class = "dropdown_item"> Gallery </a></li>
					</ul>
                 </div>

               <!-----CONTACT----->             
			 
		       <div class = "nav_item"><a class = "nav_link" href = "info@ecoshiftcapital.com"> CONTACT </a></div>	
			   
               <!-----SEARCH----->             
			   <div class = "nav_item"><a class = "nav_link"> <i class="fas fa-search"></i> </a></div>				 
				 
				 
			  </div>
		  
		  </nav>
		  <div class = "mobile_nav_menu">
		      <!-- <div class = "mobile_nav_menu_flex"> -->
		          <div class = "mobile_hamburger_item"><button type="button" class="mobile_hamburger_button mobile_hamburger_ripple"><i class="fas fa-bars"></i></button></div>
		          <a class = "mobile_nav_brand" href = "index">
			          <img src = "IMAGES/ecoshift_logo.webp" class = "mobile_logo img-fluid">
			      </a>
		          <div class = "mobile_contact_item"> <button type="button" class="mobile_whatsapp_button mobile_whatsup_ripple"><span class="material-symbols-outlined" id = "mobile_contact_icon">contact_support</span></button></div>
		      <!-- </div> -->
		  </div>
		  
		  
		  
		  
		  
		 <!-----MOBILE MENU SECTION----->
		 <section class = "mobile_menu_section">		      			  
			  <div class = "mobile_menu_list">			  
				 <!-----ABOUT----->
			     <div class = "mobile_menu_item dropdown" id = "mobile_about_left_item">
				    <img src = "IMAGES/pexels-adrian-mohammad-487852-12241582.webp" class = "img-fluid mobile_menu_image">
                    <a class = "mobile_menu_link dropdown-toggle" href = "about"> ABOUT   </a>
					
                 </div>

				 
			     <!-----SOLUTIONS----->
			     <div class = "mobile_menu_item dropdown" id = "mobile_solutions_left_item">
				     <img src = "IMAGES/phlair-3lyx_HdvbBA-unsplash4.webp" class = "img-fluid mobile_menu_image">
                    <a class = "mobile_menu_link dropdown-toggle" data-toggle = "dropdown"> SOLUTIONS </a>
					<div class = "dropdown-menu" id = "mobile_solutions_left_menu">
					    <a class = "dropdown-item" href = "carbon.php"> Carbon Sequestration </a>
						<a class = "dropdown-item" href = ""> Mechanized Farming </a>
						<a class = "dropdown-item" href = ""> Agro-processing </a>
						<a class = "dropdown-item" href = ""> Waste To Energy </a>
						<a class = "dropdown-item" href = ""> Mass Housing </a>
						<a class = "dropdown-item" href = ""> Ecotourism </a>
					</div>
                 </div>
				 
				 
				 <!-----PROJECTS----->
			     <div class = "mobile_menu_item dropdown" id = "mobile_projects_left_item">
				     <img src = "IMAGES/earth-35374014.webp" class = "img-fluid mobile_menu_image">
                     <a class = "mobile_menu_link dropdown-toggle" data-toggle = "dropdown"> PROJECTS </a>
					<div class = "dropdown-menu" id = "mobile_projects_left_menu">
					    <a class = "dropdown-item" href = "#" target = "_blank"> Angola </a>
					    <a class = "dropdown-item"> Tanzania </a>
					    <a class = "dropdown-item" id = "mobile_liberia_object"> Liberia </a>

						   <ul id = "mobile_liberia_dropdown">
						      <li class = "mobile_liberia_dropdown_item"> Government </li>
							  <li class = "mobile_liberia_dropdown_item"> Private </li>
						   </ul>						
						
						
					    <a class = "dropdown-item" href = ""> Sierra Leone </a>
					    <a class = "dropdown-item" id = "mobile_nigeria_object"> Nigeria </a>
						
						   <ul id = "mobile_nigeria_dropdown">
						      <li class = "mobile_nigeria_dropdown_item"> Taraba </li>
							  <li class = "mobile_nigeria_dropdown_item"> Crossriver </li>
							  <li class = "mobile_nigeria_dropdown_item"> Delta </li>
						   </ul>
						
						
					    <a class = "dropdown-item" href = ""> Republic Of Congo </a>
					    <a class = "dropdown-item" href = "meic2"> Zambia </a>
					    <a class = "dropdown-item" href = ""> Guinea </a>
					    <a class = "dropdown-item" href = ""> Cameroun </a>
					    <a class = "dropdown-item" href = ""> Gabon </a>
					    <a class = "dropdown-item" href = ""> Equitorial Guinea </a>
						
					</div>
                 </div>

				 <!------PORTFOLIO----->

                 <div class = "mobile_menu_item dropdown" id = "mobile_portfolio_left_item">
				     <img src = "IMAGES/ady-teenagerinro-kwIbdzJa_yA-unsplash2.webp" class = "img-fluid mobile_menu_image">
				    <a class = "mobile_menu_link dropdown-toggle" data-toggle = "dropdown"> PORTFOLIO COMPANIES </a>
                    <div class = "dropdown-menu" id = "mobile_portfolio_left_menu">
                        <a class = "dropdown-item"> EGI Energy </a>
                        <a class = "dropdown-item"> EGI Health </a>
                        <a class = "dropdown-item"> EGI Consultancy </a>
                        <a class = "dropdown-item"> EGI Advisory </a>
                    </div>
				 </div>



                 <!-----PARTNERS----->
			     <div class = "mobile_menu_item dropdown" id = "mobile_partners_left_item">
                     <img src = "IMAGES/pexels-mikhail-nilov-8730179.webp" class = "img-fluid mobile_menu_image">
                     <a class = "mobile_menu_link dropdown-toggle" data-toggle = "dropdown"> PARTNERS  </a>
					<div class = "dropdown-menu" id = "mobile_partners_left_menu">
					    
						<a class = "dropdown-item" id = "mobile_carbon_object"> Carbon Sequestration </a>
		                   <ul id = "mobile_carbon_dropdown">
						      <li class = "mobile_carbon_dropdown_item"> Granite Capital Advisors Ltd </li>
							  <li class = "mobile_carbon_dropdown_item"> BISEN </li>
							  
						   </ul>
                        
					    <a class = "dropdown-item" id = "mobile_agriculture_object"> Agriculture </a>
		                   <ul id = "mobile_agriculture_dropdown">
						      <li class = "mobile_agriculture_dropdown_item"> UYFF </li>
						   </ul>						
						
						
					    <a class = "dropdown-item"> Agro-processing </a>
					    <a class = "dropdown-item" id = "mobile_security_object"> Security </a>
		                   <ul id = "mobile_security_dropdown">
						      <li class = "mobile_security_dropdown_item"><a href = "http://foxfirecs.com/"> FOXFIRE </a></li>
						   </ul>                               						
						
						
						
						
						<a class = "dropdown-item"> Construction </a>
						<a class = "dropdown-item"> Health </a>
		                   <!-- <ul class = "health_menu"> -->
						      <!-- <li class = "health_list"><a href = "https://www.profohmed.org/"> PROFOH </a></li> -->
						   <!-- </ul>						 -->
						
						
					</div>				 
                 </div>


                 <!-------MEDIA ------->				 
			     <div class = "mobile_menu_item" id = "mobile_media_left_item">
                     <img src = "IMAGES/poster-2899096.webp" class = "img-fluid mobile_menu_image">
                    <a class = "mobile_menu_link dropdown-toggle" data-toggle = "dropdown"href = ""> MEDIA </i></a>
					<div class = "dropdown-menu" id = "mobile_media_left_menu">
					   <a class = "dropdown-item" id = "mobile_press_object"> Press Release </a>
		                   <ul id = "mobile_press_dropdown">
						      <li class = "mobile_press_dropdown_list"> Internal </li>
						      <li class = "mobile_press_dropdown_list"><a href = "external.php"> External </a></li>
						   </ul>						
						
						
					    <a class = "dropdown-item" id = "mobile_climate_object"> Climate Change </a>
						
		                   <ul id = "mobile_climate_dropdown">
						      <li class = "mobile_climate_dropdown_list"> Events </li>
						      <li class = "mobile_climate_dropdown_list"> Conferences </li>
						      <li class = "mobile_climate_dropdown_list"> Publications </li>
						   </ul>						
						
                        <a class = "dropdown-item"> Gallery </a>
					</div>
                 </div>

               <!-----CONTACT----->             
			 
                     
		         <div class = "mobile_menu_item"><img src = "IMAGES/telephone-612061_640.webp" class = "img-fluid mobile_menu_image"><a class = "mobile_menu_link" href = ""> CONTACT </a></div>	
			   
               <!-----SEARCH----->             
				 
				 
				 
		  
			  </div>		  
		  </section>